/*
Theme Name: 	Pureline
Theme URI: 		http://pureline.baseline21.com/
Description: 	The totally Custom Wordpress theme for Purline!
Version: 		4.0
Author: 		David Podlisecki
Author URI: 	http://baseline21.com
Tags: 			Pureline, theme
*/

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Media queries 
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

@import "css/reset.css";

div,
article,
section,
header,
footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background: url(images/tile.jpg) repeat; font-family: 'Roboto', sans-serif; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ background:#ff0; color:#333; }
::selection 		{ background:#ff0; color:#333; }

/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/

body,
input,
textarea 			{ /* We strongly recommend you declare font-weight using numerical values, but check to see which weights you're exporting first */ }

h1, 
h2, 
h3, 
h4, 
h5, 
h6 					{ font-weight:bold; /* This helps to identify headings at the initial build stage, but you should write something more precise later on */ }

/* ---------------------------------------------------------------------------------------------------------- 
03 Media queries (using a mobile-first approach) ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 400 and up */
@media screen and (min-width:400px) {

					{ /* Place your styles here for all widths greater than 400px */ }

}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {

					{ /* Place your styles here for all 'Retina' screens */ }

}

/* --------- STRUCTURE --------- */
.wrp { width:960px; margin:0 auto; display:block;}
.right {float:right;}
.left {float:left;}
/* --------- TOP HEADER --------- */
#top_header 	   	   {width:100%; float:right; height:63px; background:#303030;}
#top_header .info 	   {width:158px; height:20px; float:left; margin-top:21px; color:#e1e1e1; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:400;}
#top_header .info img  {float:left; margin-right:5px;}
#top_header .login	   {width:375px; height:28px; float:right; margin-top:19px; color:#e1e1e1;  font-size:14px; font-family: 'Roboto', sans-serif; font-weight:400; line-height:24px;}
#top_header .login img {float:left; margin-right:5px;}
#top_header .login a.btn{float:right; background:url(images/tp_hd_login_btn.jpg) no-repeat; width:83px; height:28px; text-indent:-9999px; overflow:hidden;}

/* --------- HEADER --------- */
#header {height:132px; width:100%; float:left; display:inline;}
#header h1.logo1 {background:url(images/header_logo.png) no-repeat; background-position:left; width:193px; height:117px; text-indent:-9999px; overflow:hidden; float:left;}
#header h1.logo2 {background:url(images/header_logo.png) no-repeat; background-position:right; width:257px; height:117px; text-indent:-9999px; overflow:hidden; float:left;}

#header .header_cta {margin-top:38px; height:33px; width:480; overflow:hidden; font-size:24px; color:#6b859d; font-family: 'Roboto', sans-serif; font-weight:300; float:right; text-align:right; }
#header .phone      {float:right; height:34px; text-align:right; width:215px; color:#9abe2d; font-size:24px; font-weight:500; font-family: 'Roboto', sans-serif;}

/* --------- BEADCRUMBS --------- */
.bread_crumbs   {width:100%; float:left; background:url(images/bread_crumb_tile.jpg) repeat-x; height:42px; padding-top:8px;}
.bread_crumbs   {font-size:12px; color:#537394;} 
.bread_crumbs a {font-size:12px; color:#537394; text-decoration:none;} 

/* --------- MAIN NAV --------- */
#main_nav 						{width:100%; float:left; height:50px; background:url(images/main_nav_bg.jpg) repeat-x; margin-top:15px;}
#main_nav .menu-header ul li 	{height:50px; float:left; border-right:#86d0e7 solid 1px; border-left:#3585a0 solid 1px;}
#main_nav .menu-header ul li:hover {height:50px; float:left; border-right:#86d0e7 solid 1px; color:#4fb7d9; border-left:#3585a0 solid 1px; background:url(images/main_nav_bg_hover.jpg) repeat-x; }
#main_nav .menu-header ul li:last-child {border-right:none !important;}
#main_nav .menu-header ul li:first-child {border-left:none !important;}
#main_nav .menu-header ul li a 	{color:#ffffff; font-size:16px; font-family: 'Roboto', sans-serif; text-decoration:none; font-weight:500; height:22px; display:block; padding:16px 20px;} 
#main_nav .menu-header ul li:hover a {color:#4fb7d9;}
#main_nav .menu-header ul li:hover ul li a {color:#537394 !important;}
#main_nav .menu-header ul li:hover ul li:hover {background:url(images/main_nav_bg.jpg) repeat-x; border:none;}
#main_nav .menu-header ul li:hover ul li:hover a{color:#ffffff !important; font-weight:500;}
#main_nav .menu-header ul li ul {  position: absolute; display:none; z-index: 999; border-left:1px solid #d7d7d7; width:600px; max-height:420px; margin-top:-4px; color:##4fb7d9 !important;}
#main_nav .menu-header ul li:nth-child(-n+3) ul {  position: absolute; display:none; z-index: 999; border-left:1px solid #d7d7d7; width:149px; max-height:420px; margin-top:-4px; color:##4fb7d9 !important;}

#main_nav .menu-header ul ul li ul{  position: absolute; display:none !important; z-index: 999; border-left:1px solid #d7d7d7; width:600px; max-height:420px; margin-top:-4px; color:##4fb7d9 !important;}
#main_nav .menu-header ul ul li:hover ul{  position: absolute; left:294px; top:4px; display:block !important; z-index: 999;}
#main_nav .menu-header ul ul:hover li:hover ul li a{ color:#537394 !important; font-weight:300;}
#main_nav .menu-header ul ul:hover li:hover ul li:hover a{ color:#ffffff !important; font-weight:500;}

#main_nav .menu-header ul ul li:hover a ul a:hover{color:#537394  !important; font-weight:500;}

#main_nav .menu-header ul li:hover ul   {display:block; z-index: 999; background:none;}
#main_nav .menu-header ul ul li {background:url(images/main_nav_bg_hover.jpg) repeat-x; height:50px; width:294px; border-bottom:1px solid #d7d7d7 !important; border-right:1px solid #d7d7d7 !important; border-left:none; float:left !important; margin-right:0px !important;  float:left}


#main_nav .menu-header ul ul li:first-child {border-right:1px solid #d7d7d7 !important; border-left:none;}
#main_nav .menu-header ul ul li:last-child { border-right:1px solid #d7d7d7 !important; }
#main_nav .menu-header ul ul li a {color:#537394; font-weight:300;}


/* --------- SLIDER --------- */
#slider 				{width:100%; float:left; height:505px;}
#slider .slider_img 	{height:331px; width:100%; overflow:hidden;}
#slider .slider_img img {height:auto; width:100%;}
#slider .sldr_nav       {height:174px; width:100%; float:left; background:url(images/lw_slider_tile.jpg) repeat; }

/* --------- HOMEPAGE --------- */
.hm_cnt_bx 			  {float:left; width:310px; margin-right:12px; position:relative; margin-top:47px; font-size:12px; color:#686868;}
.hm_cnt_bx:last-child {margin-right:0px !important;}
.hm_cnt_bx .pic img   {height:auto; width:290px;}
.hm_cnt_bx .pic 	  {position:absolute; top:0; height:130px; width:290px; border:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden;}
.hm_cnt_bx h2 		  {float:left; width:310px; margin-top:155px; font-size:20px; text-align:center; color:#537394; line-height:40px; border-bottom:#d7d7d7 solid 1px; margin-bottom:10px;}
.hm_cnt_bx ul		  {margin-top:16px;}
.hm_cnt_bx ul li:before {content: "\00BB \0020"; color:#9abe2d;}
.hm_cnt_bx ul li	 {font-weight:500;}
.hm_cnt_bx a		 {background:url(images/home_btn.jpg) no-repeat; width:133px; height:38px; font-size:12px; text-decoration:none; font-weight:400; color:#ffffff; padding:10px 10px; margin:20px 0 0 76px; float:left;}

/* --------- FOOTER --------- */

#footer {background:url(images/footer_bg.jpg) repeat; float:left; height:470px; width:100%; margin-top:20px;}
.ft_bx {float:left; width:310px; margin-right:15px; margin-top:25px;}
.ft_bx:nth-child(3) {margin-right:0px !important;}
.ft_bx title {width:300px; float:left;}
.ft_bx h2 {font-size:16px; color:#ffffff; font-weight:400; margin-bottom:-2px;}
#footer .line {width:100%; height:1px; background:#000000; border-bottom:1px solid #515151;} 

footer {color:#fff; text-transform:capitalize; font-size:10px;}
footer .info { height:25px; width:140px; float:right; font-size:14px; text-transform:lowercase; margin:-3px 0 0 0px;}
footer .info .widget_text {float:left;}
footer .info img {float:left; margin-right:3px;}

#ft_nav {width:310px; float:left; margin-top:-20px;}
#ft_nav ul {display:block; margin-top:15px;}
#ft_nav ul li:before {content: "\00BB \0020"; color:#fff;}
#ft_nav ul li {width:310; height:29px; padding-top:5px; border-bottom:#000000 1px solid; border-top:1px solid #515151;}
#ft_nav ul li:first-child {width:310; height:29px; border-top:none !important; border-bottom:#000000 1px solid;}
#ft_nav ul li:last-child {width:310; height:29px; border-top:1px solid #515151; border-bottom:none !important;}
#ft_nav ul li a {color:#CCC; font-size:12px; padding:5px 0 5px 10px; text-decoration:none; font-weight:300; letter-spacing:0.03em;}
#ft_nav ul li a:hover {font-weight:400; color:#fff;}

.ft_caseStudy .caseStudy {height:85px; width:310px; float:left; margin:0 0 10px 0;}
.ft_caseStudy .caseStudy .thumb {height:79px; width:124px; overflow:hidden; border:#FFF solid 3px; outline:#d7d7d7 solid 1px; float:left;}
.ft_caseStudy .caseStudy .thumb img {height:auto; width:130px;}
.ft_caseStudy .caseStudy .content {width:160px; height:79px; float:right; color:#BFBFBF; font-size:12px; position:relative;}
.ft_caseStudy .caseStudy .content h4 {font-size:12px; color:#FFFFFF;}
.ft_caseStudy .caseStudy .content a {background:url(images/read-more-btn.jpg) no-repeat; width:76px; height:26px; position:absolute; bottom:0; left:0; text-indent:-9999px;}
/* --------- PAGE FORMATTING --------*/
.main_pg h2, .sidebar h2 {color:#537394; width:100%; border-bottom:1px solid #d7d7d7; font-size:20px; line-height:48px; margin-top:13px; margin-bottom:15px;}
.main_pg {float:left; width:635px; height:auto;  color:#686868; font-size:14px; }
.main_pg .cnt_wrp {width:603px; border:1px solid #d7d7d7; background:#ffffff; padding:15px; display:table}
.main_pg h3 {font-size:20px; width:603px; margin-bottom:20px; float:left;}
.main_pg .cnt_wrp a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:bottom; margin:20px 5px 0 5px; width:256px; height:15px; display:block; color:#537394; font-size:11px; font-weight:700; text-transform:uppercase; padding:11px; text-decoration:none;}
.main_pg .cnt_wrp a:hover {background-position:top; color:#FFFFFF !important;}
.main_pg .cnt_wrp .pg_footer {width:603px; float:left; margin-top:20px; font-size:16px; font-weight:500; border-top:1px solid #d7d7d7; padding-top:30px; margin-bottom:20px;}
.main_pg .cnt_wrp .pg_footer a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin-top:-5px; width:155px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:11px; text-decoration:none; margin-left:10px;}
/*
.main_pg .cnt_wrp .pg_footer a:hover {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:bottom right; color:#537394 !important; font-size:12px;}
*/
.sidebar {width:310px; height:auto; float:right;}

.main_pg .pic img   {height:auto; width:615px;}
.main_pg .pic 	    { float:left; height:254px; width:614px; border:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden; margin-bottom:20px;}
.content_wrp {width:603px; border:1px solid #d7d7d7; background:#ffffff; color:#686868; font-size:14px; padding:15px; display:table; }
.line {width:100%; float:left; margin:20px 0; height:1px; background:#d7d7d7;}
.main_pg .content_wrp ul {float:left; width:301px; font-size:12px;}
.main_pg .content_wrp ul li:before  {content: "•"; color:#51b8d9; padding-right:5px;}
.main_pg .content_wrp ul li  { height:20px;}

.pg_footer {width:605px; float:left; margin-top:20px; font-size:15px; font-weight:500; border-top:1px solid #d7d7d7; padding-top:30px; margin-bottom:20px;}
.pg_footer a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin-top:-5px; width:155px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:11px; text-decoration:none; margin-left:10px;}
/*
.main_pg .content_wrp .pg_footer a:hover {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:bottom right; color:#537394 !important; font-size:12px;}
*/
/* ------------- LIST PAGE ----------------- */
.list {width:310px; display:inline-block; height:auto; text-align:center; font-size:14px; font-weight:200;}
.list .pic img   {height:auto; width:290px;}
.list .pic 	    { float:left;width:290px; height:auto; brder:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden; margin-bottom:20px;}
.list h4  		{background:url(images/list_bg_tile.png) repeat; z-index:999; position:absolute; bottom:0; width:289px; font-size:20px; font-weight:500; color:#fff; text-align:center; padding:10px 0;}

.list h4 span 		{width:289px; float:left; font-size:12px; font-weight:200; color:#fff; text-align:center;}
.list a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin:20px 0; width:115px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:10px 40px 12px 11px; text-decoration:none; margin-left:10px;}

/* ------------- BIO PAGE ----------------- */
.bio {width:635px; display:inline-block; height:auto; font-size:14px; font-weight:200; border-bottom:#d7d7d7 solid 1px; margin-bottom:20px;}
.bio .pic img   {height:auto; width:161px;}
.bio .pic 	    { float:left;width:140px; height:auto; float:left; brder:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden; margin-bottom:20px; margin-right:10px;}
.bio h4  		{background:url(images/bio_title_bg.png) repeat; z-index:999; position:absolute; bottom:0; width:140px; font-size:14px; font-weight:500; color:#fff; text-align:center; padding:5px 0;}
.bio h5 {font-size:14px; color:#537394; }
.bio h5:after {content: url(images/bio_icon.png); padding-left:5px;}
.bio h4 span 		{width:140px; float:left; font-size:12px; font-weight:300; color:#fff; text-align:center; margin-top:-3px;}
.bio a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin:20px 0; width:115px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:10px 40px 12px 11px; text-decoration:none; margin-left:10px;}

/* ------------- CASE LIST PAGE ----------------- */
.case_wrp .list .pic 	    { float:left;width:290px; height:auto; brder:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden; margin-bottom:-7px;}

/* ------------- msds LIST PAGE ----------------- */
.msds { display:inline-block; width:315px;}
.msds h2 {color:#537394; width:315px; border-bottom:none; font-size:20px; line-height:48px; margin-top:0; margin-bottom:3px;}
.msds a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin:20px 0 30px 0; width:75px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:10px 40px 12px 11px; text-decoration:none; margin-left:0	;}
/* ------------- PAGE TABS ----------------- */
/* tab pane styling */
.tab_pg {width:603px; float:left; margin-top:30px; width:603px; border:1px solid #d7d7d7; background:#ffffff; color:#686868; font-size:14px; padding:0 15px 15px 15px; display:table; }
.tb_wrp { margin-top:-32px; width:598px}
.tb_wrp .panes div ul {float:left; width:291px; font-size:12px;}
.tb_wrp .panes div ul li:before  {content: "•"; color:#51b8d9; padding-right:5px;}
.tb_wrp .panes div ul li  { height:20px;}

.tb_wrp .panes div {
    display:none;
    padding:15px 30px 0 0px;
    border:none;
    border-top:0;
    height:300px;
	width:583px;
	overflow: scroll;
	overflow-x: hidden;
	margin-top:4px;
    font-size:14px;
    background-color:#fff;
	
}


/* root element for tabs  */
.tb_wrp ul.tabs {
    list-style:none;
    margin:0 0 0 -16px !important;
    padding:0 0 2px 0;
    border-bottom:none;
    height:30px;
}

/* single tab */
.tb_wrp ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
.tb_wrp ul.tabs a {
    background: url(images/landing_pg_btn.jpg) repeat-x 557px 0px;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: auto;
    text-align:center;
    text-decoration:none;
    color:#ffffff;
	font-weight:500; 
	font-size:14px; 
    padding:0px 23px;
    margin:0px;
    position:relative;
    top:1px;
	border-top:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
}

.tb_wrp ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
.tb_wrp ul.tabs a:hover {
    background-position: 557px -39px;
    color:#537394;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
.tb_wrp ul.tabs a.current, .tb_wrp ul.tabs a.current:hover, .tb_wrp ul.tabs li.current a {
    background:#ffffff;
	border-top:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
	font-size:14px; 
	font-weight:600;
    cursor:default !important;
    color:#537394 !important;
	
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
.tab_wrp ul.tabs a.s { background-position: -553px 0; width:81px; }
.tab_wrp ul.tabs a.s:hover { background-position: -553px -31px; }
.tab_wrp ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
.tab_wrp ul.tabs a.l { background-position: -248px -0px; width:174px; }
.tab_wrp ul.tabs a.l:hover { background-position: -248px -31px; }
.tab_wrp ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
.tab_wrp ul.tabs a.xl { background-position: 0 -0px; width:248px; }
.tab_wrp ul.tabs a.xl:hover { background-position: 0 -31px; }
.tab_wrp ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.tab_wrp .panes .pane {
    display:none;
}


.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
		
.banner_bg {height:130px; position:absolute; width:100%; background:url(images/slider_banner_bg.png) repeat; top:160px;}
.banner_bg h2 {font-size:55px; font-weight:200; color:#ffffff; width:816px; margin-top:10px;}
.banner_bg h2 span {float:left; width:816px; font-size:16px; color:#ffffff;}
.banner ul li div.banner_bg a {background:url(images/slider_learn_btn.jpg) no-repeat; width:133p×;  height:38px; float:right; font-size:13px; color:#fff; text-decoration:none; padding:10px 40px 20px 8px; margin-top:-30px;}

nav ul {
  margin:-28px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login {
   
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 3px 18px;
  text-decoration: none;
  color: #fff;
  background:#92b627;
}

nav #signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  -moz-border-radius: 3px 3px 0 3px;
  -webkit-border-radius: 3px 3px 0 3px;
  border-radius: 3px 3px 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #92b627;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 999;    
  background: #92b627;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92b627), to(#6b861b));
  background-image: -webkit-linear-gradient(top, #92b627, #6b861b);
  background-image: -moz-linear-gradient(top, #92b627, #6b861b);
  background-image: -ms-linear-gradient(top, #92b627, #6b861b);
  background-image: -o-linear-gradient(top, #92b627, #6b861b);
  background-image: linear-gradient(top, #92b627, #6b861b);  
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ccc inset;
  -webkit-box-shadow: 0 1px 1px #ccc inset;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {		
  background-color: #d14545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
  background-image: -webkit-linear-gradient(top, #e97171, #d14545);
  background-image: -moz-linear-gradient(top, #e97171, #d14545);
  background-image: -ms-linear-gradient(top, #e97171, #d14545);
  background-image: -o-linear-gradient(top, #e97171, #d14545);
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {		
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(top, #d14545, #e97171);
}	

#login #submit:active {		
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


/* ============================================= ADD THIS TO SERVER CSS ======================================= */

/* ------------- CONTACT TABS ----------------- */
/* tab pane styling */

.tb_wrp_contact  { margin-top:-32px; width:598px}
.tb_wrp_contact .panes div ul {float:left; width:291px; font-size:12px;}
.tb_wrp_contact .panes div ul li:before  {content: "•"; color:#51b8d9; padding-right:5px;}
.tb_wrp_contact .panes div ul li  { height:20px;}

.tb_wrp_contact .panes div {
    display:none;
    padding:15px 30px 0 0px;
    border:none;
    border-top:0;
    height:auto;
	width:583px;
	margin-top:4px;
    font-size:14px;
    background-color:#fff;
	
}


/* root element for tabs  */
.tb_wrp_contact ul.tabs {
    list-style:none;
    margin:0 0 0 -16px !important;
    padding:0 0 2px 0;
    border-bottom:none;
    height:30px;
}

/* single tab */
.tb_wrp_contact ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
.tb_wrp_contact ul.tabs a {
    background: url(images/landing_pg_btn.jpg) repeat-x 557px 0px;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: auto;
    text-align:center;
    text-decoration:none;
    color:#ffffff;
	font-weight:500; 
	font-size:14px; 
    padding:0px 23px;
    margin:0px;
    position:relative;
    top:1px;
	border-top:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
}

.tb_wrp_contact ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
.tb_wrp_contact ul.tabs a:hover {
    background-position: 557px -39px;
    color:#537394;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
.tb_wrp_contact ul.tabs a.current, .tb_wrp_contact ul.tabs a.current:hover, .tb_wrp_contact ul.tabs li.current a {
    background:#ffffff;
	border-top:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
	font-size:14px; 
	font-weight:600;
    cursor:default !important;
    color:#537394 !important;
	
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
.tb_wrp_contact ul.tabs a.s { background-position: -553px 0; width:81px; }
.tb_wrp_contact ul.tabs a.s:hover { background-position: -553px -31px; }
.tb_wrp_contact ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
.tb_wrp_contact ul.tabs a.l { background-position: -248px -0px; width:174px; }
.tb_wrp_contact ul.tabs a.l:hover { background-position: -248px -31px; }
.tb_wrp_contact ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
.tb_wrp_contact ul.tabs a.xl { background-position: 0 -0px; width:248px; }
.tb_wrp_contact ul.tabs a.xl:hover { background-position: 0 -31px; }
.tb_wrp_contact ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.tb_wrp_contact .panes .pane {
    display:none;
}

/* ------------ FOOTER FORM ----------------- */


#ft_form form.wpcf7-form input{  margin:0 0 15px 0; width:95%; height:18px; font-size:11px; padding:0px 5px;}
#ft_form form.wpcf7-form select { width:100%; height:20px; font-size:12px; padding:2px 5px; overflow: hidden; background: url(images/select_arrow.jpg) no-repeat right #fff; border: 1px solid #d7d7d7; -webkit-appearance:none;  border-radius: 0; color:#979797; margin:0 0 15px 0;}

#ft_form form.wpcf7-form textarea {font-size:11px; width:96%; padding:2px 5px;}
#ft_form form.wpcf7-form input.wpcf7-submit {background:url(images/submit-btn.jpg) no-repeat; width:61px; height:26px; text-indent:-9999px; float:right; border:none; margin:18px 0 0 0;} 

/* ------------ CONTACT FORM ----------------- */

.panes form.wpcf7-form input{ border:1px solid #e0e0e0; width:100%; padding:5px; margin-bottom:10px;}
.panes form.wpcf7-form {color:#666666;}
.panes form.wpcf7-form select {background:url(images/contact_dropdown.png) no-repeat right #fff;  border: 1px solid #d7d7d7; -webkit-appearance:none;  border-radius: 0; color:#979797; padding:0 25px 0 10px; height:33px; margin-bottom:10px;}
.panes form.wpcf7-form textarea {border:1px solid #e0e0e0; width:100%; padding:5px; margin-bottom:10px;}
.panes form.wpcf7-form input.wpcf7-submit {background:url(images/contact_submit_btn.png) no-repeat; width:110px; height:38px;text-indent:-9999px; float:right; border:none; margin:18px 0 0 0;}

/* ------------ CONTACT BIOS ----------------- */
.panes .info {width:605px; display:inline-block !important; height:auto; font-size:13px !important; font-weight:200; border-bottom:#d7d7d7 solid 1px; margin-bottom:20px; line-height:16px;}
.panes .info .pic img   {height:auto; width:161px;}
.panes .info .pic 	    { float:left;width:161px; height:auto; float:left; brder:#FFF solid 10px; outline:#d7d7d7 solid 1px; overflow:hidden; margin-bottom:20px; margin-right:10px; padding:10px; display:block !important;}
.panes .info h4  		{background:url(images/bio_title_bg.png) repeat; z-index:999; position:absolute; bottom:10px; left:10px; width:161px; font-size:13px; font-weight:500; color:#fff; text-align:center; padding:5px 0;}
.panes .info h5 {font-size:14px; color:#537394; }
.panes .info h4 span 		{width:140px; float:left; font-size:12px; font-weight:300; color:#fff; text-align:center; margin-top:-3px;}
.panes .info a {background:url(images/landing_pg_btn.jpg) no-repeat; background-position:top right; margin:20px 0; width:115px; height:15px; display:inline-block; color:#ffffff; font-size:12px; font-weight:500; text-transform:uppercase; padding:10px 40px 12px 11px; text-decoration:none; margin-left:10px;}